<!--<link rel="stylesheet" ng-href="css/{{theme_default}}/bootstrap.min.css">-->
<!--<link rel="stylesheet" ng-href="css/custom_themes/{{theme_default}}.css">-->

<div ng-switch="n_config.theme_default">
    <div ng-switch-when="lumen">
        <link rel="stylesheet" ng-href="css/lumen/bootstrap.min.css">
        <link rel="stylesheet" ng-href="css/custom_themes/lumen.css">
    </div>
    <div ng-switch-when="paper">
        <link rel="stylesheet" ng-href="css/paper/bootstrap.min.css">
        <link rel="stylesheet" ng-href="css/custom_themes/paper.css">
    </div>
    <div ng-switch-when="superhero">
        <link rel="stylesheet" ng-href="css/superhero/bootstrap.min.css">
        <link rel="stylesheet" ng-href="css/custom_themes/superhero.css">
    </div>
    <div ng-switch-default>
        <link rel="stylesheet" ng-href="css/lumen/bootstrap.min.css">
        <link rel="stylesheet" ng-href="css/custom_themes/lumen.css">
    </div>
</div>