<div class="row">
    <div class="col-md-4 col-md-offset-4" id="page-login">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-horizontal" name="loginForm" ng-submit="doLogin(loginForm)">
                    <fieldset>
                        <legend>BMS</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Tài khoản</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="login.username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Mật khẩu</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
                                <p ng-show="login.error" class="text-danger">Tài khoản hoặc mật khẩu không đúng.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-success">Đăng nhập</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

