#page-login{
    margin-top: 150px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}

.page-header {
    margin: 0px 0 21px !important;
}

.navbar .make-active {
    font-weight: bold;
}

.partition{
    margin: 15px 0px;
    border-top: 1px solid #e5e5e5;
}

select.refund {
    color: #ffffff;
    background-color: #158cba;
}
input.refund {
    color: #ffffff;
    background-color: #158cba;
}

.panel .overlay{
    z-index: 50;
    background: rgba(255,255,255,0.7);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel .overlay i.fa-refresh{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
}

#order_note{
    position: absolute;
    z-index: 50;
    margin-top: 41px;
}

.label-currency{
    font-size: 16px;
    font-weight: bold;
}

.ui-select-container span.btn.btn-default {
    background-color: #fff;
    font-weight: normal !important;
    text-transform: none !important;
    font-size: 14px;
    border-width: 1px;
}

td.refund .ui-select-container .ui-select-match span.btn.btn-default{
    color: #ffffff;
    background-color: #158cba;
}

.ui-select-container span.btn:hover{
    margin-top: 0px;
}


/* Put your css in here */

#settingSide.panel{
    position: fixed;
    right: -2px;

}

#settingSide.panel.ng-hide-add, .panel.ng-hide-remove {
    /* this is required as of 1.3x to properly
       apply all styling in a show/hide animation */
    transition: 0s linear all;
}


#settingSide.panel.ng-hide-add-active, .panel.ng-hide-remove-active {
    /* -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    */
    transition: all ease-in-out 0.5s;
}
#settingSide.panel.ng-show-add-active {
    display: block;
}

#settingSide.ng-hide{
    right: -500px;
    display: block !important;
}

#settingSide{
    width:500px;
    z-index: 99;
}

.button-show-config{
    position: absolute;
    left: -40px;
    padding: 5px !important;
}

.button-show-config i{
    font-size: 25px;
}

#settingSide div.row, #settingSide .form-horizontal .form-group{
    margin-left: 0px;
    margin-right: 0px;
}

.profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
}

.text-muted {
    color: #777;
}

.ui-view-customer{
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 19px;
}


.border-top-td{
    border-top: 1px solid black !important;
    border-color: black !important;
}

.table-detail-order tfoot tr td{
    text-align: right;
}

.ui-view-supplier{
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 19px;
}

.table-detail-purchaseorder tfoot tr td{
    text-align: right;
}

.ui-view-product{
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 19px;
}

.ui-view-season{
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 19px;
}