/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/tests
/bootstrap
/bower_components
.idea
/.idea
/storage
artisan
server.php
/public/build
/public/build/
/public/.htaccess
/public/favicon.ico
/public/index.php
/public/robots.txt
/public/web.config
/database/factories
/app/Jobs
/app/Listeners
/app/Policies
/app/Providers

