<div ng-include="global.navUrl"></div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Season</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <img class="profile-user-img img-responsive img-circle" src="../images/iconuser/m1.png" alt="User profile picture">
                    <h3 class="profile-username text-center">{{n_season.name}}</h3>
                    <p class="text-muted text-center">({{n_season.start}}-{{n_season.end}})</p>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_season.orders.total | number}}</span>
                    Total order
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_season.orders.totalBuy | number}}</span>
                    Total Buy
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_season.orders.totalReturn | number}}</span>
                    Total Refund
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_season.purchaseorders.total | number}}</span>
                    Total purchaseorder
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_season.purchaseorders.totalBuy | number}}</span>
                    Total Buy
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_season.purchaseorders.totalReturn | number}}</span>
                    Total Refund
                </li>

            </ul>
        </div>
        <div class="col-lg-9">
            <ul class="nav nav-tabs">
                <li ui-sref="season-tab-orders" ui-sref-active="active"><a href="javascript:void(0)">Orders</a></li>
                <li ui-sref="season-tab-purchaseorders" ui-sref-active="active"><a href="javascript:void(0)">Purchaseorders</a></li>
                <li ui-sref="season-tab-info" ui-sref-active="active"><a href="javascript:void(0)">Info</a></li>
                <li ui-sref="season-tab-report" ui-sref-active="active"><a href="javascript:void(0)">Report</a></li>
                <p class="bs-component pull-right" style="margin-bottom: 0px">
                    <a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-danger">Back</a>
                    <a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteProduct(n_season.id, n_season.name)">Delete</a>
                </p>
            </ul>
            <div class="ui-view-season">
                <ui-view ng-init="go('season-tab-orders')"></ui-view>
            </div>
        </div>
    </div>
</div>
