<div ng-include="global.navUrl"></div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h4>{{n_season.name}} <span class="text-muted text-center" ng-if="n_season.start != ''">({{n_season.start}} - {{n_season.end}})</span></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li ui-sref="season-tab-report" ui-sref-active="active"><a href="javascript:void(0)">Báo cáo</a></li>
                <li ui-sref="season-tab-orders" ui-sref-active="active"><a href="javascript:void(0)">Hóa đơn xuất</a></li>
                <li ui-sref="season-tab-purchaseorders" ui-sref-active="active"><a href="javascript:void(0)">Hóa đơn nhập</a></li>
                <li ui-sref="season-tab-info" ui-sref-active="active"><a href="javascript:void(0)">Thông tin</a></li>
                <p class="bs-component pull-right" style="margin-bottom: 0px">
                    <a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-danger">Trở lại</a>
                    <a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteProduct(n_season.id, n_season.name)">Xóa</a>
                </p>
            </ul>
            <div class="ui-view-season">
                <ui-view ng-init="go('season-tab-report')"></ui-view>
            </div>
        </div>
    </div>
</div>
