<div ng-include="global.navUrl"></div>

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">{{head_purchaseorder}}
                    <p class="bs-component pull-right">
                        <a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-danger">Back</a>
                        <a href="javascript:void(0)" class="btn btn-danger" ng-if="!new_purchaseorder" ng-click="deletePurchaseorder()">Delete</a>
                        <a href="javascript:void(0)" class="btn btn-primary">Preview</a>
                        <a href="javascript:void(0)" class="btn btn-primary" ng-if="new_purchaseorder" ng-click="placePurchaseorder()">Submit purchaseorder</a>
                        <a href="javascript:void(0)" class="btn btn-primary" ng-if="!new_purchaseorder" ng-click="savePurchaseorder()">Save purchaseorder</a>
                    </p>
                </h1>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Items Purchaseordered
                    <p class="bs-component pull-right">
                        <button type="button" class="btn btn-primary btn-xs" ng-init="show_note = false" ng-click="show_note = !show_note">Note</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="addPurchaseorderItem()">+ Add product</button>
                    </p>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <caption ng-if="show_error_purchaseorder_items"><p class="text-danger">Please check purchaseorder items</p></caption>
                        <thead>
                        <tr>
                            <th>
                                <a href="javascript:void(0)">
                                    #
                                </a>
                            </th>
                            <th width="30%">
                                <a href="javascript:void(0)">
                                    Product
                                </a>
                            </th>
                            <th width="20%">
                                <a href="javascript:void(0)" ng-click="sortType = 'qty'; sortReverse = !sortReverse">
                                    Qty
                                    <span ng-show="sortType == 'qty' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'qty' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="20%">
                                <a href="javascript:void(0)" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                                    Price
                                    <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="20%">
                                <a href="javascript:void(0)" ng-click="sortType = 'row_total'; sortReverse = !sortReverse">
                                    Subtotal
                                    <span ng-show="sortType == 'row_total' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'row_total' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="5%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="n_purchaseorder.items.length == 0"><td></td><td colspan="6">No data table</td></tr>
                            <tr ng-repeat="item in n_purchaseorder.items| orderBy:sortType:sortReverse" ng-class="{true: 'danger', false: ''}[item.error == true]">
                                <td><input type="checkbox" ng-checked="item.type" ng-click="item.type = !item.type"></td>
                                <td ng-class="{true: 'refund', false: ''}[item.type == true]">
                                    <!--<select class="form-control" ng-model="item.product_id" class="purchaseorder_product_id" ng-class="{true: 'refund', false: ''}[item.type == true]" convert-to-number>-->
                                        <!--<option ng-repeat="product in products" value='{{product.id}}'>{{product.name}}</option>-->
                                    <!--</select>-->
                                    <ui-select ng-model="item.product_id">
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="product.id as product in (products | filter: $select.search)">
                                            <div ng-bind="product.name"></div>
                                        </ui-select-choices>
                                        <ui-select-no-choice>
                                            Dang!  We couldn't find any choices...
                                        </ui-select-no-choice>
                                    </ui-select>
                                </td>
                                <td>
                                    <input input-currency type="text" class="form-control text-right" ng-class="{true: 'refund', false: ''}[item.type == true]" name="purchaseorder_product_qty" ng-model="item.qty">
                                </td>
                                <td>
                                    <input input-currency type="text" class="form-control text-right" ng-class="{true: 'refund', false: ''}[item.type == true]" name="purchaseorder_product_price" ng-model="item.price">
                                </td>
                                <td>
                                    <input input-currency type="text" class="form-control text-right" ng-class="{true: 'refund', false: ''}[item.type == true]" name="purchaseorder_product_rowtotal" ng-model="item.row_total">
                                </td>
                                <td><a href="javascript:void(0)" ng-click="removePurchaseorderItem($index)">Delete</a></td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="n_purchaseorder.items.length != 0">
                            <tr>
                                <th></th>
                                <th class="text-right">{{n_purchaseorder.items.length | currency:'': 0}}</th>
                                <th class="text-right">{{n_purchaseorder.total_qty_ordered | currency:'': 0}}</th>
                                <th></th>
                                <th class="text-right">{{n_purchaseorder.subtotal | currency:'': 0}}</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="overlay" ng-if="loading_purchaseorder_items">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2" id="purchaseorder_note" ng-if="show_note">
            <div class="panel panel-default">
                <div class="panel-heading">Note</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <textarea class="form-control" rows="6" id="note" name="note" ng-model="n_purchaseorder.note">
                                    </textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Account Information</div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <p class="text-danger" ng-if="show_error_purchaseorder_supplier">Please check account infomation</p>
                                <fieldset>
                                    <div class="form-group">
                                        <label for="order_date" class="col-lg-3 control-label">Order date</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" id="order_date" name="order_date" ng-model="n_purchaseorder.order_date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="purchaseorder_supplier_id" class="col-lg-3 control-label">Supplier</label>
                                        <div class="col-lg-9">
                                            <ui-select ng-model="n_purchaseorder.supplier_id" id="purchaseorder_supplier_id">
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="supplier.id as supplier in (suppliers | filter: $select.search)">
                                                    <div ng-bind="supplier.name"></div>
                                                </ui-select-choices>
                                                <ui-select-no-choice>
                                                    Please select supplier to place purchaseorder !
                                                </ui-select-no-choice>
                                            </ui-select>
                                            <!--<select class="form-control" name="purchaseorder_supplier_id" id="purchaseorder_supplier_id" ng-model="n_purchaseorder.supplier_id" convert-to-number>-->
                                                <!--<option ng-repeat="supplier in suppliers" value='{{supplier.id}}' title="{{supplier.address}}">{{supplier.name}}</option>-->
                                            <!--</select>-->
                                            <input ng-if="n_purchaseorder.supplier_id == 0" type="text" class="form-control" name="purchaseorder_supplier_name" id="purchaseorder_supplier_name" ng-model="n_purchaseorder.supplier_name">
                                            <div class="checkbox" ng-if="n_purchaseorder.supplier_id == 0">
                                                <label>
                                                    <input type="checkbox" name="create_new_supplier" id="create_new_supplier" ng-model="n_purchaseorder.create_new_supplier">Create new supplier
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="overlay" ng-if="loading_purchaseorder_supplier">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                </div>
                </div>
            </div>
            <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Order Totals
                            <p class="bs-component pull-right">
                                <button type="button" class="btn btn-primary btn-xs" ng-click="validatePurchaseorder()">Check order</button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="recalculate()">Recalculate</button>
                                <button type="button" class="btn btn-primary btn-xs" ng-click="addNewFee()" title="Add new fee">+</button>
                            </p>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <p class="text-danger" ng-if="show_error_purchaseorder_totals">Please check purchaseorder totals</p>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-lg-5 control-label">Subtotal</label>
                                        <div class="col-lg-7 text-right">
                                            <label class="control-label label-currency" id="subtotal" name="subtotal">{{n_purchaseorder.subtotal | currency:'': 0}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="total_paid" class="col-lg-5 control-label">Paid</label>
                                        <div class="col-lg-7">
                                            <input input-currency class="form-control text-right" id="total_paid" name="total_paid" ng-model="n_purchaseorder.total_paid" type="text">
                                        </div>
                                    </div>
                                    <div ng-if="n_purchaseorder.fees.length != 0" class="row partition"></div>
                                    <div class="form-group" ng-repeat="fee in n_purchaseorder.fees" ng-class="{true: 'has-error', false: ''}[fee.error == true]">
                                        <div class="col-lg-1"><button type="button" class="btn btn-primary btn-xs" ng-click="removeFee($index)" title="Remove this fee">-</button></div>
                                        <div class="col-lg-4"><input class="form-control" name="fee_label" ng-model="fee.title"></div>
                                        <div class="col-lg-7">
                                            <input class="form-control text-right" id="fee[{{$index}}]" input-currency name="fee_value" ng-model="fee.value" type="text">
                                        </div>
                                    </div>
                                    <div class="row partition"></div>
                                    <div class="form-group">
                                        <label for="grand_total" class="col-lg-5 control-label">Grandtotal</label>
                                        <div class="col-lg-7 text-right">
                                            <label class="control-label label-currency" id="grand_total" name="grand_total">{{n_purchaseorder.grand_total | currency:'': 0}}</label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="overlay" ng-if="loading_purchaseorder_totals">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>