<!-- Modal -->
<div class="modal fade" id="configDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{confirmDelete.titleDialog}}</h4>
            </div>
            <div class="modal-body">
                {{confirmDelete.messageDialog}}
                <br>
                <div class="form-group" ng-class="{'has-error' : confirmDelete.error}">
                    <span>Mã xác nhận: </span><span class="text-info"><a href="javascript:void(0)" ng-click="copyVerification()">{{confirmDelete.verification}}</a></span>
                    <input type="text" class="form-control" id="inputVerification" ng-model="confirmDelete.inputVerification" value="confirmDelete.inputVerification">
                    <p ng-show="confirmDelete.error" class="help-block">Vui lòng nhập đúng mã xác nhận để thực hiện</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{confirmDelete.titleClose}}</button>
                <button type="button" class="btn btn-primary" ng-click="confirmDelete.clickOk()">{{confirmDelete.titleOk}}</button>
            </div>
        </div>
    </div>
</div>
