<div ng-include="global.navUrl"></div>


<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">User Profile</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <img class="profile-user-img img-responsive img-circle" src="https://adminlte.io/themes/AdminLTE/dist/img/user4-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">{{n_product.name}}</h3>
                    <p class="text-muted text-center" ng-if="n_product.sku != ''">({{n_product.sku}})</p>
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_product.orders.total | number}}</span>
                    Total order
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_product.purchaseorders.total | number}}</span>
                    Total purchaseorder
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_product.orders.totalBuy | number}}</span>
                    Total Buy
                </li>
                <li class="list-group-item">
                    <span class="badge">{{n_product.orders.totalReturn | number}}</span>
                    Total Refund
                </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <ul class="nav nav-tabs">
                <li ui-sref="product-tab-orders" ui-sref-active="active"><a href="javascript:void(0)">Orders</a></li>
                <li ui-sref="product-tab-purchaseorders" ui-sref-active="active"><a href="javascript:void(0)">Purchaseorders</a></li>
                <li ui-sref="product-tab-info" ui-sref-active="active"><a href="javascript:void(0)">Info</a></li>
                <li ui-sref="product-tab-report" ui-sref-active="active"><a href="javascript:void(0)">Report</a></li>
                <p class="bs-component pull-right" style="margin-bottom: 0px">
                    <a href="javascript:void(0)" onclick="window.history.back();" class="btn btn-danger">Back</a>
                    <a href="javascript:void(0)" class="btn btn-danger" ng-click="deleteProduct(n_product.id, n_product.name)">Delete</a>
                </p>
            </ul>
            <div class="ui-view-product">
                <ui-view ng-init="go('product-tab-orders')"></ui-view>
            </div>
        </div>
    </div>
</div>
