<form class="form-horizontal" ng-submit="saveCustomer(addCustomerForm)" name="addCustomerForm" novalidate>
    <fieldset>
        <div class="form-group" ng-class="{'has-error' : addCustomerForm.customer_name.$invalid && formSubmitted}">
            <label for="customer_name" class="col-lg-3 control-label">Tên</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="customer_name" id="customer_name" ng-model="n_customer.name" required>
                <p ng-show="addCustomerForm.customer_name.$invalid && formSubmitted" class="help-block">Vui lòng nhập tên</p>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : addCustomerForm.customer_email.$invalid && formSubmitted}">
            <label for="customer_email" class="col-lg-3 control-label">Email</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="customer_email" id="customer_email" ng-model="n_customer.email">
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : addCustomerForm.customer_phone.$invalid && formSubmitted}">
            <label for="customer_phone" class="col-lg-3 control-label">Số điện thoại</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="customer_phone" id="customer_phone" ng-model="n_customer.phone">
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-lg-3 control-label">Địa chỉ</label>
            <div class="col-lg-8">
                <textarea class="form-control" rows="3" id="address" ng-model="n_customer.address"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-lg-3 control-label">Ghi chú</label>
            <div class="col-lg-8">
                <textarea class="form-control" rows="5" id="note" ng-model="n_customer.note"></textarea>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error' : addCustomerForm.customer_is_active.$invalid && formSubmitted}">
            <label for="customer_is_active" class="col-lg-3 control-label">Trạng thái</label>
            <div class="col-lg-8">
                <select class="form-control" id="customer_is_active" name="customer_is_active" ng-model="n_customer.is_active" required  convert-to-number>
                    <option value="1">Bật</option>
                    <option value="0">Tắt</option>
                </select>
                <p ng-show="addCustomerForm.customer_is_active.$invalid && formSubmitted" class="help-block">Vui lòng chọn Bật/Tắt</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-3">
                <button class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </fieldset>
</form>
